<div>
    <h2>
        <span>Hamsters</span>
        <button class="btn btn-primary float-right jh-create-entity create-hamster" [routerLink]="['/', { outlets: { popup: ['hamster-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Hamster
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="hamsters">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Weight</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hamster of hamsters ;trackBy: trackId">
                <td><a [routerLink]="['../hamster', hamster.id ]">{{hamster.id}}</a></td>
                <td>{{hamster.name}}</td>
                <td>{{hamster.weight}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../hamster', hamster.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hamster/'+ hamster.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hamster/'+ hamster.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
